<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="#" th:action="@{/login}" th:object="${loginFormDto}" method="POST" autocomplete="off">
        <label for="username">username</label>
        <input type="text" id="username" autocomplete="false" th:field="*{username}"/>

        <label for="password">password</label>
        <input type="password" id="password" autocomplete="false" th:field="*{password}"/>

        <label for="totp">totp</label>
        <input type="text" id="totp" autocomplete="false" th:field="*{totp}"/>

        <input type="submit" value="submit">
    </form>
<a th:href="@{/register}">Sign Up</a>
</body>
</html>