<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Add New Note</title>
</head>
<body>
<h1>Add New Note</h1>

<form action="#" th:action="@{/note/add}" th:object="${noteFormDto}" method="POST" autocomplete="off">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" placeholder="Title..." th:value="*{title}" th:field="*{title}">

    <label for="note">Note</label>
    <textarea rows="5" id="note" placeholder="Note..." th:value="*{content}" th:field="*{content}"></textarea>

    <fieldset>
        <legend>publish note?</legend>
        <span>
            <input type="radio" id="publish-choice-yes" name="publish" value="true" th:checked="*{isPublished}" th:field="*{isPublished}"/>
            <label for="publish-choice-yes">Yes</label>
        </span>

        <span>
            <input type="radio" id="publish-choice-no" name="publish" value="false" th:checked="*{isPublished}" th:field="*{isPublished}"/>
            <label for="publish-choice-no">No</label>
        </span>
    </fieldset>

    <fieldset>
        <legend>encrypt note?</legend>
        <span>
            <input type="radio" id="encrypt-choice-yes" name="encrypt" value="true" th:field="*{isEncrypted}"/>
            <label for="encrypt-choice-yes">Yes</label>
        </span>

        <span>
            <input type="radio" id="encrypt-choice-no" name="encrypt" value="false" checked th:field="*{isEncrypted}"/>
            <label for="encrypt-choice-no">No</label>
        </span>

        <label for="encrypt-password" style="font-size:1rem;">Encryption Password</label>
        <input type="password" id="encrypt-password" name="encrypt-password" placeholder="Password..." style="font-size: 1rem; border-width: 2px;" th:field="*{encryptionPassword}" disabled/>
    </fieldset>

    <ul class="fail-messages" th:if="${param.error}">
        <li th:text="${param.message}" />
    </ul>

    <input type="submit" value="submit">
</form>
</body>
<script>
    let publishYes = document.getElementById("publish-choice-yes");
    let publishNo = document.getElementById("publish-choice-no");
    let encryptYes = document.getElementById("encrypt-choice-yes");
    let encryptNo = document.getElementById("encrypt-choice-no");
    let encryptPassword = document.getElementById("encrypt-password");

    publishYes.addEventListener("input", () => {
        encryptYes.setAttribute("disabled", "disabled")
        encryptPassword.setAttribute("disabled", "disabled")
        encryptYes.checked = false
        encryptNo.checked = true
    })

    publishNo.addEventListener("input", () => {
        encryptYes.removeAttribute("disabled")
        encryptPassword.removeAttribute("disabled")
    })

    encryptNo.addEventListener("input", () => {
        encryptPassword.setAttribute("disabled", "disabled")
    })

    encryptYes.addEventListener("input", () => {
        encryptPassword.removeAttribute("disabled")
    })
</script>
<style>
    form {
        width: 60rem;
    }

    span > label {
        font-size: 1rem;
    }
</style>
</html>