<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Note Password</title>
</head>
<body>

<form action="#" th:action="@{'/note/' + ${noteId} + '/password'}" th:object="${notePasswordFormDto}" method="POST" autocomplete="off">
    <label for="password">password</label>
    <input type="password" id="password" autocomplete="false" th:field="*{password}"/>

    <ul class="fail-messages" th:if="${param.error}">
        <li th:text="${param.message}" />
    </ul>

    <input type="submit" value="submit">
</form>

</body>
</html>