<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <title>New Note</title>
</head>
<body>
<h1>Login</h1>

<form action="#" th:action="@{/note-new}" th:object="${noteFormDto}" method="POST" autocomplete="off">
    <label for="note">note</label>
    <textarea id="note" th:field="*{content}"></textarea>

    <fieldset>
        <legend>publish note?</legend>
        <input type="radio" id="publish-choice-yes" name="publish" value="yes" />
        <label for="publish-choice-yes">Yes</label>

        <input type="radio" id="publish-choice-no" name="publish" value="no" checked />
        <label for="publish-choice-no">No</label>
    </fieldset>

    <input type="submit" value="submit">
</form>
</body>
</html>