<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <title>Totp</title>
</head>
<body>
<h1>To confirm your registration open an authentication app and pass the totp code to input field</h1>

<form action="#" th:action="@{/register-confirm}" th:object="${totpCodeFormDto}" method="POST" autocomplete="off">
    <label for="code">code</label>
    <input type="text" id="code" autocomplete="false" th:field="*{code}"/>

    <input type="submit" value="submit">
</form>
</body>
</html>