<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <title>Totp</title>
</head>
<body>
    <h1>To complete registration open your authentication app and scan this qr code</h1>
    <img th:src="${totpQr}"  alt="totp-qr-code" class="totp-qr-code"/>
    <h1>Then use link to confirm your registration</h1>
    <a th:href="@{/register-confirm}">Go confirm your registration</a>
</body>
</html>