<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>
<form action="#" th:action="@{/register}" th:object="${userRegistrationFormDto}" method="POST" autocomplete="off">
    <label for="password">email</label>
    <input type="text" id="email" autocomplete="false" th:field="*{email}"/>

    <label for="username">username</label>
    <input type="text" id="username" th:field="*{username}"/>

    <label for="password">password</label>
    <input type="password" id="password" th:field="*{password}"/>

    <label for="password-repeated">password repeated</label>
    <input type="password" id="password-repeated" autocomplete="false" th:field="*{passwordRepeated}"/>

    <ul class="fail-messages" th:if="${failMessages}">
        <li th:each="error: ${failMessages}" th:text="${error}" />
    </ul>

    <input type="submit" value="Sign Up" />
</form>
</body>
</html>